body {
    background-color: #fac1de;
}

.envelope-wrapper {
    height:320px;
    

}

#envelope {
    position: relative;
    height: 180px;
    width: 280px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    background-color: #fb88ac ;
    box-shadow: 0 4px 20px black;
}

.countdown {
    display: flex;
    transform: scale(2);
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; /* Allow items to wrap on very small screens */
}


#envelope:hover {
    cursor: pointer;
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}

.flap {
    border-top: 98px solid #f96896;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    transform-origin: top;
}

.pocket {
    border-left: 140px solid #f5769e ;
    border-right: 140px solid #f5769e ;
    border-bottom: 120px solid #ea8eab ;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.letter {
    position: relative;
    background-color: white;
    width: 90%;
    height: 110%;
    top: 5%;
    border-radius: 10px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .12);
    margin-left: auto;
    margin-right: auto;
}

.letter:after {
    content: "";
    position: absolute;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
}

.words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    font-size: 15px;
    font-family: fantasy;
    color: black;
}

.line1 {
    top: 8%;
}

.line2 {
    top: 22%;
}

.line3 {
    top: 60%;
    text-align: center;
}

.line4 {
    top: 70%;
    bottom: 30%;
    text-align: center;
}

.open .flap {
    transform: rotatex(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
}

.close .flap {
    transform: rotatex(0deg);
    transition: transform 0.4s 0.06s ease, z-index 1s;
    z-index: 5;
}

.open .letter {
    transform: translatey(-120px);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
}

.close .letter {
    transform: translatey(0deg);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 1;
}



.hearts {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
}

.heart {
    position: absolute;
    bottom: 0;
    right: 10%;
}

.heart:before, .heart:after {
    position: absolute;
    content: "";
    background: #d00000;
    width: 50px;
    height: 80px;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.close .heart{
    opacity: 0;
    animation: none;
}

.a1 {
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    animation: slideUp 4s linear 1, sideSway 2s  ease-in-out 4 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.a2 {
    left: 55%;
    transform: scale(1);
    opacity: 1;
    animation: slideUp 5s linear 1, sideSway 4s  ease-in-out 2 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

.a3 {
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    animation: slideUp 6s linear 1, sideSway 2s  ease-in-out 6 alternate;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}

@keyframes slideUp {
    0% {
       top: 0;
    }
    100% {
        top: -1000px;
    }
}

@keyframes sideSway {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 50px;
    }
}

.reset {
    text-align: center;
}

.reset button {
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    background-color: transparent;
    border: solid 2px #FF6863;
    border-radius: 4px;
    color: #FF6863;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 8px;
    margin-top: 70px;
    padding: 10px;
    line-height: 2em;
    text-decoration: none;
    min-width: 150px;
    outline: none;
}

.reset button:hover {
    background-color: #FF6863;
    cursor: pointer;
    color: white;
}

.valentine {
    text-align: center;
    font-family: fantasy bold;
    color:#FF6863;
    font-size: 100px;
    padding-top: 10px;
}

.image{
    width: 30%;   
    height: auto;
    position: relative;
}
* {
    box-sizing: border-box;
}

.count {
    text-align: center;
    font-family:fantasy;
    color:#FF6863;
    font-size: 50px;
    margin: -150px 0 40px;
    padding-top: 10%;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 { 
    font-weight: bonnd;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

@media( max-width: 680px){
    .valentine{
        margin-top: 15px;
        font-size: 50px;
    }
    .envelope-wrapper{
        padding-top: 10px;
        margin-bottom: 60px;
        height:190px;
    }
    #envelope{
        transform: scale(0.8);
    }
    .reset{
        padding-bottom: 0%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }
    .chocolate-box{
        margin-top: 10px;
    }
    .count{
        padding-top: 32%;
        font-size:40px;
        margin: -150px 0 10px;
    }
    .countdown {
        transform: scale(1);
    }
}

.chocolate-box{
    position: relative;
    height: 300px;
    width: 300px;
    cursor: pointer;
    margin: auto;
}

.chocolate-box:before, .chocolate-box:after {
    content:"";
    position: absolute;
}

.chocolate-box:before{
    width: 300px;
    height: 160px;
    background-color:#4b301b;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 10px 10px #392312;
}

.chocolate-box:after{
    width: 68px;
    height: 68px;
    background-color: #2b0900;
    left: 12px;
    top: 82px;
    box-shadow: 70px 0 #2b0900, 70px 70px #2b0900, 0px 70px #2b0900,
        140px 0 #2b0900,140px 70px #2b0900, 210px 0px #2b0900, 210px 70px #2b0900;
}
.chocs {
    position: absolute;
    z-index: 1;
}
.top-left{
    top: 92px;
    left: 20px;
}

.top-left, .bottom-right{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #d12511;
    box-shadow: 20px 0 #d12511;
    filter: drop-shadow(2px 2px #ab1503) drop-shadow(-2px 2px #ab1503);
    transition: .2s;
}

.bottom-right{
    left: 90px;
    top: 162px
}

.top-left:before, .bottom-right:before, .top-left:after, .bottom-right:after{
    position: absolute;
    content:"";
}

.top-left:before, .bottom-right:before{
    width: 30px;
    height: 30px;
    background-color: #d12511;
    transform: rotate(-45deg);
    top:10px;
    left: 10px;
}

.bottom-right:hover{
    transform: rotate(25deg);
}

.top-left:hover{
    transform: rotate(25deg);
}
.bottom-right:active{
    opacity: 0;
}
.top-left:active{
    opacity: 0;
}

.top-left:after, .bottom-right:after{
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
    width: 10px;
    height: 10px;
    top: 5px;
    left: 35px;
}

.top-right {
    position: absolute;
    border-radius: 50%;
    background-color: #fec8c0;
    width: 45px;
    height: 45px;
    top: 92px;
    left: 94px;
    filter: drop-shadow(2px 2px #ceb587) drop-shadow(-2px 2px #ceb587);
    overflow: hidden;
    transition: .2s;
}

.top-right:before, .top-right:after {
    content: "";
    position: absolute;
    background-color: #93522b;
    width: 100px;
    height: 3px;
    left: -5px;
}

.top-right:before{
    top: 15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #93522b;
}

.top-right:after{
    top:0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #93522b, 0 30px #93522b;
}

.top-right:hover{
    transform: rotate(25deg);
}

.top-right:active{
    opacity:0
}

.bottom-left{
    position: absolute;
    border-radius:50%;
    background-color:#503520;
    width: 45px;
    height: 45px;
    top: 162px;
    left: 25px;
    filter: drop-shadow(2px 2px #342010) drop-shadow(-2px 2px #342010);
    overflow: hidden;
    transition: .2s;
}

.bottom-left:before, .bottom-left:after{
    content: "";
    position: absolute;
    background-color: #fde7c7;
    width: 100px;
    height: 3px;
    left: -5px;
}

.bottom-left:hover{
    transform:rotate(25deg);
}

.bottom-left:active{
    opacity: 0;
}

.bottom-left:before{
    top: 15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #fde7c7;
}

.bottom-left:after{
    top:0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #fde7c7, 0 30px #fde7c7;
}

/* right side chocs */
/* HERE IS CHOCOLATES TO THE RIGHT */
.top-left-center{
    top: 92px;
    left: 160px;
}

.top-left-center, .bottom-right-center{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #d12511;
    box-shadow: 20px 0 #d12511;
    filter: drop-shadow(2px 2px #ab1503) drop-shadow(-2px 2px #ab1503);
    transition: .2s;
}

.bottom-right-center{
    left: 230px;
    top: 162px
}

.top-left-center:before, .bottom-right-center:before, .top-left-center:after, .bottom-right-center:after{
    position: absolute;
    content:"";
}

.top-left-center:before, .bottom-right-center:before{
    width: 30px;
    height: 30px;
    background-color: #d12511;
    transform: rotate(-45deg);
    top:10px;
    left: 10px;
}

.bottom-right-center:hover{
    transform: rotate(25deg);
}

.top-left-center:hover{
    transform: rotate(25deg);
}
.bottom-right-center:active{
    opacity: 0;
}
.top-left-center:active{
    opacity: 0;
}

.top-left-center:after, .bottom-right-center:after{
    border-radius: 50%;
    background-color: rgba(255,255,255,.3);
    width: 10px;
    height: 10px;
    top: 5px;
    left: 35px;
}

.top-right-center {
    position: absolute;
    border-radius: 50%;
    background-color: #fec8c0;
    width: 45px;
    height: 45px;
    top: 92px;
    left: 235px;
    filter: drop-shadow(2px 2px #ceb587) drop-shadow(-2px 2px #ceb587);
    overflow: hidden;
    transition: .2s;
}

.top-right-center:before, .top-right-center:after {
    content: "";
    position: absolute;
    background-color: #93522b;
    width: 100px;
    height: 3px;
    left: -5px;
}

.top-right-center:before{
    top: 15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #93522b;
}

.top-right-center:after{
    top:0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #93522b, 0 30px #93522b;
}

.top-right-center:hover{
    transform: rotate(25deg);
}

.top-right-center:active{
    opacity:0
}

.bottom-left-center{
    position: absolute;
    border-radius:50%;
    background-color:#503520;
    width: 45px;
    height: 45px;
    top: 162px;
    left: 165px;
    filter: drop-shadow(2px 2px #342010) drop-shadow(-2px 2px #342010);
    overflow: hidden;
    transition: .2s;
}

.bottom-left-center:before, .bottom-left-center:after{
    content: "";
    position: absolute;
    background-color: #fde7c7;
    width: 100px;
    height: 3px;
    left: -5px;
}

.bottom-left-center:hover{
    transform:rotate(25deg);
}

.bottom-left-center:active{
    opacity: 0;
}

.bottom-left-center:before{
    top: 15px;
    transform: rotate(-35deg);
    box-shadow: 0 -15px #fde7c7;
}

.bottom-left-center:after{
    top:0;
    transform: rotate(-15deg);
    box-shadow: 0 17px #fde7c7, 0 30px #fde7c7;
}
